body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.cardlist {
  max-width:90%;
  margin: auto;
}

.blog-card {
	width: 100%;
	position: relative;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
	text-align: center;
  background-size: cover;
  background-position: center;
}

.blog-card .color-overlay {
	background: rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.blog-card .gradient-overlay {
	background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.4) 66%);
  width: 100%;
	height: 20%;
	position: absolute;
	left: 0;
  bottom:0;
	z-index: 15;
}

.date {
  color: #ffffff;
  text-align: center;
  height: 60px;
  line-height: 60px;
  font-size:14px;
  position: relative;
  z-index: 20;
  width: 100%;
  top: 0;
  left: 0;
  text-transform: uppercase;
  text-shadow: -1px 0 2px #5a5e6b, 0 1px 2px #5a5e6b, 1px 0 2px #5a5e6b, 0 -1px 2px #5a5e6b;
}

.title-content {
	text-align: center;
	position: relative;
	z-index: 20;
	width: 100%;
  text-shadow: -1px 0 2px #333, 0 1px 2px #333, 1px 0 2px #333, 0 -1px 2px #333;
  padding-bottom: 100px;
}

h3 {
	font-size: 34px;
	font-weight: 500;
	letter-spacing: 2px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 0;
}

.intro {
	margin: 20px auto 0;
	color: #070d23;
	font-family: 'Droid Serif', serif;
	font-size: 24px;
  line-height: 46px;
	font-style: italic;
}

.food-container {
  display: flex;
  bottom: 20px;
  width:100%;
  color:  #070d23;
  padding:20px 0;
  background: #f9f9f9;
}

.food-container .food {
  flex: 1 50%;
}

.food-container .food-title {
  font-size: 9px;
  text-transform: uppercase;
}
